* {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #fffcf7;
}

.container {
    max-width: 45rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.guestbook-heading {
    color: grey;
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    letter-spacing: 0.1em;
}

.guestbook-entry-label {
    display: block;
    color: #4c5866;
    font-size: 1rem;
}

.guestbook-entry-input {
    -webkit-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    background-color: white;
    color: #4c5866;
    border: 0.0625rem solid #4c5866;
    font-family: inherit;
    line-height: 1.5em;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 0.75rem;
    margin-top: 0.25rem;
}

.guestbook-entry-input:focus {
    outline: none;
    border: 0.0625rem solid #e97200;
}

.guestbook-form-buttons {
    text-align: center;
}

.guestbook-heading:hover {
    cursor: pointer;
    color: black;
}

.button {
    font-family: inherit;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    border: 0px solid transparent;
    background-color: grey;
    color: white;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}
.button:hover {
    background-color: darkgrey;
}

.guestbook-separator {
    -webkit-appearance: none;
    appearance: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0.03125rem solid #4c5866;
}

.guestbook-entry {
    background-color: white;
    color: #4c5866;
    border: 0.0625rem solid #4c5866;
    border-radius: 0.5rem;
    padding: 1rem 1.25rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.guestbook-entry-title {
    color: grey;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.25rem;
}

.guestbook-entry-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.guestbook-entry-author {
    white-space: nowrap;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}

.guestbook-entry-content > p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
}

.guestbook-entry-content > p:last-child {
    margin-bottom: 0;
}

.guestbook-pagination {
    margin: 1.75rem -0.5rem;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.guestbook-pagination-a {
    display: block;
    min-width: 2.5rem;
    padding: 0.25rem 0.5rem;
    background-color: grey;
    color: white;
    line-height: 1.5rem;
    text-decoration: none;
    border-radius: 0.5rem;
    text-align: center;
    margin: 0.25rem 0.5rem;
}
.guestbook-pagination-a:hover {
    background-color: darkgray;
}

.guestbook-pagination-active,
.guestbook-pagination-active:hover {
    background-color: lightgrey;
}

.guestbook-footer {
    color: lightgrey;
}

.guestbook-footer {
    margin-bottom: 2rem;
}